.idea/*.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/dictionaries/*
cmake-build-*
.vs
*.pyc
.idea/markdown-navigator.xml
.idea/codeStyles/Project.xml
.idea/markdown-navigator/profiles_settings.xml
