*.build
*.pbxuser
*.mode1v3
*.ncb
*.suo
Debug
Release
*.user
*.xcuserstate
.DS_Store
xcuserdata
*.xcscheme
Breakpoints.xcbkptlist
*_UpgradeReport_Files/
*.vcxproj.filters
UpgradeLog.XML
Resources/DWARF
*DerivedData
*.pyc
*.xcactivitylog